<div class="card mb-3 sticky-top">
    <!-- <h3 class="card-header bg-primary">Israel Matías</h3> -->
    <div class="card-header bg-primary">
        <h3 class="h-h3"><b>Israel Matías</b></h3>
    </div>
    <div class="card-body text-right" *ngIf="true">
        <a href="#" class="card-link">Seguir a este usuario</a>
        <a href="#" class="card-link">Siguiendo a este usuario</a>
    </div>
    <div class="mt-2">
        <img class="img-profile" src="assets/images/users/boy-4.png" alt="Card image">
    </div>
    <div class="card-body">
        <!-- <b>Acerca de mi</b>
        <p class="card-text">Nada interesante.</p> -->
        <div class="row">
            <div class="col-md-6 text-center">
                <b>Siguiendo</b>
                <p>6</p>
            </div>
            <div class="col-md-6 text-center">
                <b>Seguidores</b>
                <p>5</p>
            </div>
        </div>

        <form>
            <div class="form-group">
                <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Qué estás pensando?"></textarea>
            </div>
            <div class="row">
                <div class="col-md-6 text-left">
                    <button type="button" class="btn btn-secondary text-left">Subir una imagen</button>
                </div>
                <div class="col-md-6 text-right">
                    <button type="button" class="btn btn-primary text-right">Publicar</button>
                </div>
            </div>
        </form>
    </div>

    <div class="card-footer text-muted">
        Hace unos instantes
    </div>
</div>