<!-- Fixed Sidebar Left -->
<app-sidebar-left></app-sidebar-left>
<!-- ... end Fixed Sidebar Left -->

<!-- Fixed Sidebar Right -->
<app-sidebar-right></app-sidebar-right>
<!-- ... end Fixed Sidebar Right -->

<!-- Header-BP -->
<app-header></app-header>
<!-- ... end Header-BP -->

<div class="header-spacer"></div>

<!-- Top Profile -->
<div class="container top-body" *ngIf="showTopHeader">
    <app-top></app-top>
</div>
<!-- End Top Profile -->


<!-- Fixed Sidebar Right -->
<div class="container mt-4">
    <div class="row">
        <!-- Main Content -->
        <main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
            <router-outlet></router-outlet>
        </main>
        <!-- ... end Main Content -->


        <!-- Left Sidebar -->
        <aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-12 col-12 left-body">
            <app-aside-left></app-aside-left>
        </aside>
        <!-- ... end Left Sidebar -->


        <!-- Right Sidebar -->
        <aside class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-12 col-12 right-body">
            <app-aside-right></app-aside-right>
        </aside>
        <!-- ... end Right Sidebar -->
    </div>
</div>
<!-- End Fixed Sidebar Right -->

<a class="back-to-top" href="#">
    <img src="assets/svg-icons/back-to-top.svg" alt="arrow" class="back-icon">
</a>