<div class="row" id="top-header-fixed">
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="ui-block">
            <div class="top-header top-header-favorit">
                <div class="top-header-thumb top-mask">
                    <img class="img-mask" src="assets/img/top-header2.jpg" alt="nature">
                    <div class="top-header-author">
                        <div class="author-thumb ">
                            <img src="assets/img/author-main2.jpg" alt="author">
                        </div>
                        <div class="author-content">
                            <a href="#" class="h3 author-name">Green Goo Rock</a>
                        </div>
                    </div>
                </div>
                <div class="profile-section">
                    <div class="row">
                        <div class="col col-xl-8 m-auto col-lg-8 col-md-12">
                            <ul class="profile-menu">
                                <li>
                                    <a href="12-FavouritePage.html" class="active">Timeline</a>
                                </li>
                                <li>
                                    <a href="13-FavouritePage-About.html">About</a>
                                </li>
                                <li>
                                    <a href="07-ProfilePage-Photos.html">Photos</a>
                                </li>
                                <li>
                                    <a href="09-ProfilePage-Videos.html">Videos</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="control-block-button">
                        <a href="#" class="btn btn-control bg-primary">
                            <svg class="olymp-star-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>