<!-- Window-popup Update Header Photo -->
<div class="modal fade" id="update-header-photo" tabindex="-1" role="dialog" aria-labelledby="update-header-photo" aria-hidden="true">
    <div class="modal-dialog window-popup update-header-photo" role="document">
        <div class="modal-content">
            <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                <svg class="olymp-close-icon"></svg>
            </a>
            <div class="modal-header">
                <h6 class="title">Update Header Photo</h6>
            </div>

            <div class="modal-body">
                <a href="#" class="upload-photo-item">
                    <svg class="olymp-computer-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-computer-icon"></use></svg>
                    <h6>Upload Photo</h6>
                    <span>Browse your computer.</span>
                </a>
                <a href="#" class="upload-photo-item" data-toggle="modal" data-target="#choose-from-my-photo">
                    <svg class="olymp-photos-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-photos-icon"></use></svg>
                    <h6>Choose from My Photos</h6>
                    <span>Choose from your uploaded photos</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- ... end Window-popup Update Header Photo -->

<!-- Window-popup Choose from my Photo -->
<div class="modal fade" id="choose-from-my-photo" tabindex="-1" role="dialog" aria-labelledby="choose-from-my-photo" aria-hidden="true">
    <div class="modal-dialog window-popup choose-from-my-photo" role="document">

        <div class="modal-content">
            <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                <svg class="olymp-close-icon"></svg>
            </a>
            <div class="modal-header">
                <h6 class="title">Choose from My Photos</h6>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-expanded="true">
                            <svg class="olymp-photos-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-albums-icon"></use></svg>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="modal-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="home" role="tabpanel" aria-expanded="true">
                        <div class="choose-photo-item" data-mh="choose-item" *ngFor="let i of [1,2,3,4,5,6,7,8]">
                            <div class="radio">
                                <label class="custom-radio">
                                  <img src="assets/img/choose-photo1.jpg" alt="photo">
                                  <input type="radio" name="optionsRadios">
                              </label>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-secondary btn--half-width">Cancelar</button>
                            <button class="btn btn-primary btn--half-width">Seleccionar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ... end Window-popup Choose from my Photo -->