<div class="bs-component">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="javascript:void(0)">
            <b>HABLA PE</b>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form ngNativeValidate #form="ngForm" (ngSubmit)="Session(form, false)" class="form-inline my-2 my-lg-0">
                <!-- <input [(ngModel)]="_session.email" name="email" class="form-control mr-sm-2" type="text" placeholder="Ingrese su email">
                <input [(ngModel)]="_session.password" name="password" class="form-control mr-sm-2" type="password" placeholder="Ingrese su contraseña">
                <button class="btn btn-secondary my-2 my-sm-0" [disabled]="sessionLoading || form.invalid" type="submit">Ingresar
                        <i *ngIf="sessionLoading" class="fas fa-spin fa-sync"></i>
                </button> -->
                <button class="btn btn-secondary my-2 my-sm-0 ml-2" type="button" (click)="t.select('tab-signup')">Registrarme</button>
            </form>
        </div>
    </nav>
    <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
</div>

<div class="container mt-f-5">
    <div class="row">
        <div class="col-md-7">
            <div class="row front-head">
                <div class="col-md-12">
                    <div class="parent-body">
                        <h1 class="child-body-text text-center"> <b>HABLA PE</b>, TE UNES?</h1>
                    </div>
                </div>
            </div>
            <div class="row front-body">
                <div class="col-md-12">
                    <div class="parent-body">
                        <img src="assets/images/front-1.svg" class="child-body">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <ngb-tabset [justify]="currentJustify" #t="ngbTabset">
                <ngb-tab id="tab-login" title="Iniciar Sesión">
                    <ng-template ngbTabContent>
                        <div class="card bg-light">
                            <div class="card-body">
                                <form ngNativeValidate #form="ngForm" (ngSubmit)="Session(form)">
                                    <legend class="text-center mt-3 mb-4">Iniciar Sesión</legend>
                                    <ngb-alert *ngIf="!alertClosed" [type]="'danger'" (close)="alertClosed = true">{{ alertMessage }}</ngb-alert>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input [(ngModel)]="session.email" name="email" type="text" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Contraseña</label>
                                        <input [(ngModel)]="session.password" name="password" type="password" class="form-control" required>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-check mt-3">
                                                <label class="form-check-label">
                                                    <input [(ngModel)]="session.remember" name="remember" class="form-check-input" type="checkbox">Recordarme
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="text-right mt-2">
                                                <button type="submit" class="btn btn-primary" [disabled]="sessionLoading || form.invalid"> Ingresar
                                                    <i *ngIf="sessionLoading" class="fas fa-spin fa-sync"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Aún no tienes una cuenta? Qué esperas?</p>
                                        <button type="button" class="btn btn-primary" (click)="t.select('tab-signup')">Regístrate aquí</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab id="tab-signup" title="Registro">
                    <ng-template ngbTabContent>
                        <div class="card bg-light">
                            <div class="card-body">
                                <form ngNativeValidate [formGroup]="fGroup" class="content" (ngSubmit)="RegisterAccount()">
                                    <legend class="text-center mt-2 mb-3">Registrarme</legend>
                                    <div class="form-group">
                                        <label>Nombres</label>
                                        <input formControlName="name" name="name" type="text" class="form-control" [ngClass]="displayFieldCss('name')">
                                        <app-validators *ngIf="isFieldInvalid('name')" [error]="getFieldError('name')" field="name"></app-validators>
                                    </div>
                                    <div class="form-group">
                                        <label>Apellidos</label>
                                        <input formControlName="lastname" name="lastname" type="text" class="form-control" [ngClass]="displayFieldCss('lastname')">
                                        <app-validators *ngIf="isFieldInvalid('lastname')" [error]="getFieldError('lastname')" field="lastname"></app-validators>
                                    </div>
                                    <div class="form-group">
                                        <label>Fecha de Nacimiento</label>
                                        <input formControlName="birthday" name="birthday" class="form-control" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" [ngClass]="displayFieldCss('birthday')" readonly>
                                        <app-validators *ngIf="isFieldInvalid('birthday')" [error]="getFieldError('birthday')" field="birthday"></app-validators>
                                    </div>
                                    <div class="form-group">
                                        <label>Género</label>
                                        <select formControlName="gender" name="gender" class="form-control" [ngClass]="displayFieldCss('gender')">
                                            <option value="">Seleccione un género</option>
                                            <option value="male">Masculino</option>
                                            <option value="female">Femenino</option>
                                        </select>
                                        <app-validators *ngIf="isFieldInvalid('gender')" [error]="getFieldError('gender')" field="gender"></app-validators>
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input formControlName="email" name="email" type="email" class="form-control" [ngClass]="displayFieldCss('email')">
                                        <app-validators *ngIf="isFieldInvalid('email')" [error]="getFieldError('email')" field="email"></app-validators>
                                    </div>
                                    <div class="form-group">
                                        <label>Contraseña</label>
                                        <input formControlName="password" name="password" type="password" class="form-control" [ngClass]="displayFieldCss('password')">
                                        <app-validators *ngIf="isFieldInvalid('password')" [error]="getFieldError('password')" field="password"></app-validators>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                        <input formControlName="agree" name="agree" class="form-check-input" type="checkbox">
                                            Acepto los términos y condiciones
                                        </label>
                                        <app-validators *ngIf="isFieldInvalid('agree')" [error]="getFieldError('agree')" field="agree"></app-validators>
                                    </div>
                                    <div class="text-right mt-4">
                                        <button type="submit" class="btn btn-primary" [disabled]="fGroup.invalid">Registrarme</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>