<div class="bs-component" id="header-fixed">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="javascript:void(0)">
            <b>HABLA PE</b>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="nav nav-pills">
                <li class="nav-item dropdown">
                    <button class="btn btn-primary p-2 dropdown-toggle" id="optionTop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img  class="rounded-circle" width="32px" src="assets/images/users/boy-4.png">
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="optionTop">
                        <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/profile', 'ismat6892']">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="assets/images/icons/png/031-reunion.png" width="100%">
                                </div>
                                <div class="col-md-6">
                                    <b>Mi perfil</b>
                                </div>
                            </div>
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/auth']">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="assets/images/icons/png/011-high-five.png" width="100%">
                                </div>
                                <div class="col-md-6">
                                    <b>Salir</b>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
</div>