<div class="list-group sticky-top">
    <a href="javascript:void(0)" [routerLink]="['/home']" routerLinkActive="active" class="list-group-item d-flex justify-content-between align-items-center">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/images/icons/png/003-laugh.png" width="60%">
            </div>
            <div class="col-md-6">
                <h3 class="text-right">INICIO</h3>
            </div>
        </div>
    </a>
    <a href="javascript:void(0)" [routerLink]="['/profile', 'ismat6892']" routerLinkActive="active" class="list-group-item d-flex justify-content-between align-items-center">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/images/icons/png/031-reunion.png" width="60%">
            </div>
            <div class="col-md-6">
                <h3 class="text-right">PERFIL</h3>
            </div>
        </div>
    </a>
    <a href="javascript:void(0)" [routerLink]="['/messages']" routerLinkActive="active" class="list-group-item d-flex justify-content-between align-items-center">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/images/icons/png/034-chat.png" width="60%">
            </div>
            <div class="col-md-6">
                <h3 class="text-right">MENSAJES</h3>
            </div>
        </div>
    </a>
    <a href="javascript:void(0)" [routerLink]="['/friends']" routerLinkActive="active" class="list-group-item d-flex justify-content-between align-items-center">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/images/icons/png/006-friendship-2.png" width="60%">
            </div>
            <div class="col-md-6">
                <h3 class="text-right">AMIGOS</h3>
            </div>
        </div>
    </a>
    <a href="javascript:void(0)" [routerLink]="['/world']" routerLinkActive="active" class="list-group-item d-flex justify-content-between align-items-center">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/images/icons/png/043-friends.png" width="60%">
            </div>
            <div class="col-md-6">
                <h3 class="text-right">MUNDO</h3>
            </div>
        </div>
    </a>
</div>