/* You can add global styles to this file, and also import other style files */

.mt-f-5 {
    margin-top: 6rem;
}

.p-f-5 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.front-head {
    height: 120px;
}

.front-body {
    height: 580px;
}

.parent-body {
    display: flex;
}

.child-body {
    width: 90%;
    margin: auto;
}

.child-body-text {
    padding-top: 1rem;
    margin: auto;
    font-size: 55px;
}