.mt-f-5 {
    margin-top: 6rem;
}

.p-f-5 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.h-h3 {
    color: #ffffff;
}

.front-head {
    height: 120px;
}

.front-body {
    height: 580px;
}

.parent-body {
    display: flex;
}

.child-body {
    width: 90%;
    margin: auto;
}

.parent-img {
    display: flex;
    height: 100px;
}

.item-top {
    cursor: pointer;
}

.item-top :hover {
    background-color: #fdfdfd;
}

.item-top :active {
    background-color: #fafafa;
}

.child-img {
    margin: auto;
}

.child-body-text {
    padding-top: 1rem;
    margin: auto;
    font-size: 55px;
}

.child-body-mintext {
    padding-top: 1rem;
    /* margin: auto; */
}

.img-profile {
    width: 80%;
    height: 300px;
    margin: auto;
    display: flex;
}

.post-body {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #fdfdfd;
    /* height: 250px; */
}

.post-name {
    font-size: 17px;
}

.post-description {
    font-size: 16px;
    margin-left: 45px;
}

.post-actions {
    margin-top: 20px;
    margin-left: 30px;
}

.post-image {
    width: 100px;
}

.post-comments {
    background-color: #fdfdfd;
    /* overflow-y: auto; */
}

.input-comment {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.comment {
    padding-bottom: 1px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #fafafa;
    border-radius: 3px;
}

.comment-body {
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
}

.comment img {
    width: 20px;
}

.comment a {
    margin-left: 10px;
}

.comment div {
    margin-left: 25px;
}

.page-main {
    background-color: #fafafa;
    height: 840px;
    overflow-y: auto;
    overflow-x: unset;
}

.if-fixed {
    position: sticky;
    top: 0;
    z-index: 1020
}

@media (min-width: 576px) {
    .img-profile {
        max-width: 720px
    }
}

@media (min-width: 768px) {
    .img-profile {
        max-width: 1000px
    }
}

@media (min-width: 992px) {
    .img-profile {
        max-width: 100%;
        max-height: 200px;
    }
}

@media (min-width: 1200px) {
    .img-profile {
        max-width: 100%;
        max-height: 300px;
    }
}