<div class="row" style="width:70%; margin: auto; height: 100px">
    <div class="col-md-4">
        <div class="item-top">
            <div class="row">
                <div class="col-md-12">
                    <div class="parent-img">
                        <img class="child-img" src="assets/images/icons/png/002-worldwide.png" width="30%">
                    </div>
                </div>
                <div class="col-md-12">
                    <h6 class="text-center"><b>PUBLICACIONES</b></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="item-top">
            <div class="row">
                <div class="col-md-12">
                    <div class="parent-img">
                        <img class="child-img" src="assets/images/icons/png/033-image.png" width="30%">
                    </div>
                </div>
                <div class="col-md-12">
                    <h6 class="text-center"><b>IMÁGENES</b></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="item-top">
            <div class="row">
                <div class="col-md-12">
                    <div class="parent-img">
                        <img class="child-img" src="assets/images/icons/png/018-youtube.png" width="30%">
                    </div>
                </div>
                <div class="col-md-12">
                    <h6 class="text-center"><b>MÚSICA</b></h6>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<hr>